<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="text-center" ng-if="randomUser">
            <a id="a" class="item item-avatar" href="#">
                <img ng-src="img/{{randomUser.id}}.jpg">
                <h2>{{randomUser.name}}</h2>
            </a>
        </div>
        <button class="button button-block button-calm" ng-if="isStart" ng-click="startDraw()">Start Draw</button>
        <button class="button button-block button-calm" ng-if="!isStart" ng-click="startDraw()">Stop Draw</button>
    </ion-content>
</ion-view>